@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css?family=Rokkitt|Yeon+Sung&display=swap');

body { 
  margin: 0; 
  font-family: 'Rokkitt', cursive !important; 
  font-size: 1.05em !important;
  overflow-x: hidden;
  background: linear-gradient(-45deg, aliceblue, white, white, aliceblue);
  min-height: 100vh;
}
.btn{
  margin: 5px;
}
.btn-light{
  border: 1px solid gray;
}
.padded-content{
  padding: 50px 20px;
}
.form-content{
  padding: 20px 30px;
  padding-bottom: 10px;
  border: 1px solid lightgray;
  border-radius: 8px;
  background-color: white;
}
.center-content{
  text-align: center;
}
.right-content{
  text-align: right;
}
.filter-input{
  width: 200px;
  margin-bottom: 5px;
}
th{
  cursor: pointer;
}
th:hover {
  background-color: aliceblue;
}